<%- include("header") -%>

<h2 style="text-align: center">Create new List</h2>
<form class="box" action="/createList" method="post">
  <input type="text" name="newListName1" value="" autocomplete="off">
  <button type="submit" name="button">+</button>
</form>

<%- include("footer") -%>
